img{
    max-width: 100%;
}
.app-header .nav-item{
    margin-right: 20px;
}
.highlight{
    font-weight: bold;
}
.breadcrumb-button-row{
    position: fixed;
    z-index: 999;
    width: 100%;
    left: 0;
}
.sidebar-lg-show .breadcrumb-button-row{
    padding-left: 200px;
}
.button-row{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: white;
    text-align: right;
    padding: 0.3rem 1rem;
}
.main .container-fluid{
    padding-top: 70px;
}
.app-header .navbar-brand{
    width: auto;
    min-width: 155px;
    font-weight: bold;
}
.table-bordered th, .table-bordered td{
    border: none;
    vertical-align: middle;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list-group-item {
    cursor: move;
}
.fa.mr{
    margin-right: 10px;
}
.table .col-common{
    width: 160px;
}
.table .col-checkbox{
    width: 40px;
    padding-left: 15px;
}
.table .col-time{
    width: 160px;
}
.table .col-status{
    width: 72px;
}
.table .col-edit{
    width: 30px;
}
.sidebar .nav-dropdown-toggle::before{
    right: 0.75rem;
}
.sidebar .nav-link {
    display: flex;
    padding: 0.75rem 1.75rem 0.75rem 2.5rem;
    color: #fff;
    text-decoration: none;
    background: transparent;
}
.sidebar .nav-item .nav-item .nav-link{
    /*padding-left: 2.5rem;*/
    padding-right: 1rem;
}
.sidebar .nav-dropdown.open .nav-link.active, .sidebar .nav-link.active, .sidebar .nav-link:hover, .sidebar .nav-dropdown.open .nav-link:hover {
  color: #20a8d8;
}
.sidebar .nav-link.active, .sidebar .nav-link:hover{
    background: transparent;
}
.sidebar .nav-link .nav-icon {
  display: inline-block;
  width: 1.09375rem;
  margin: 0.2rem 0.5rem 0 0;
  font-size: 0.875rem;
  color: #73818f;
  text-align: center;
  margin-left: -1.625rem;
  position: absolute;
}
/*.tox-notification--warning{
    display: none!important;
}*/
.form-control.d-inline-block{
    width: auto;
}
.common-tb th, .common-tb td{
    padding: 5px;
}
.common-tb th:first-child, .common-tb td:first-child{
    padding-left: 0;
}
.common-tb th:last-child, .common-tb td:last-child{
    padding-right: 0;
}
.permissions-tb .permissions-type, .permissions-tb .permissions-section{
    cursor: pointer;
}
.permissions-tb .permissions-type:hover, .permissions-tb .permissions-section:hover{
    color: #20a8d8;
}
.sidebar .nav-dropdown.open > a > .nav-icon{
    color: white!important;
}
.sidebar .nav-dropdown.open > a{
    background-color: #20a8d8;
    color: white!important;
}
.sidebar .nav-dropdown.open > a.nav-dropdown-toggle::before{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}
.sidebar .nav-link:hover .nav-icon, .sidebar .nav-dropdown.open .nav-link:hover .nav-icon{
    color: #20a8d8;
}
.nav-line{
    border-top: 1px solid #4e4e4e;
    margin: 15px 15px;
}
.help-block{
    color: #73818f;
}
div.form-control{
    border-color: transparent;
    height: auto;
    min-height: calc(2.0625rem + 2px);
}
.underline{
    text-decoration: underline;
}
.badge-warning{
    color: white;
}
.repeater-row{
    /*margin-bottom: 20px;*/
}
.repeater-header-row, .repeater-content-row{
    display: flex;
    /*flex-wrap: wrap;*/
}
.repeater-cell, .repeater-header-cell{
    padding: 10px 7px;
    width: 50%;
    border: 1px solid #c8ced3;
    margin-right: -1px;
    margin-bottom: -1px;
}
.repeater-row .gallery-container{
    border: none;
    padding: 0;
}
.repeater-row textarea.form-control{
    height: 80px;
}
.repeater-header-cell{
    /*border: 1px solid #333;*/
}
.repeater-remove-row{
    margin-top: 10px;
    text-align: right;
}
.repeater .remove-col{
    width: 30px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
}
.btn-remove-row{
    color: #f86c6b;
    font-size: 16px;
}
.btn-remove-row:hover{
    color: #f86c6b;
}
.multiselect__tag, .multiselect__option--highlight{
    background-color: #20a8d8!important;
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover{
    background-color: #f86c6b!important;
}
.multiselect__tag-icon:after{
    color: white!important;
}
.breadcrumb{
    margin-bottom: 0;
}
.vfc-styles-conditional-class{
    max-width: 300px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
.vfc-main-container{
    height: auto!important;
    padding-bottom: 20px;
}
.vfc-today{
    background-color: inherit!important;
    color: inherit!important;
}
.vfc-today:hover{
    background-color: #dadada!important;
}
.vfc-today.vfc-marked{
    background-color: #66b3cc!important;
    color: white!important;
}.v-autocomplete{position:relative}
.v-autocomplete .v-autocomplete-list{
    position:absolute;
    z-index: 10;
    background-color: white;
    width: 100%;
    font-size: 1rem;
}
.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item{
    cursor:pointer;
    padding: 10px 10px;
}
.v-autocomplete .v-autocomplete-list .v-autocomplete-list-item.v-autocomplete-item-active{background-color:#f3f6fa}

.autosuggest__results-container ul{
    padding-left: 0;
    list-style: none;
    border: 1px solid #dcdcdc;
    max-height: 200px;
    overflow: auto;
}
.autosuggest__results-container ul li{
    padding: 10px 10px;
}
.autosuggest__results-container ul li:hover{
    cursor: pointer;
    background-color: #f3f6fa;
}
.v-middle{
    vertical-align: middle;
}
input.error, textarea.error, select.error{
    border-color: red!important;
}
label.error{
    color: red!important;
}
.text-calc{
    text-align: right;
}
.text-calc.exceed .current{
    color: red;
}
.bulk-action-row{
    float: right;
    white-space: nowrap;
}
.card{
    width: 100%;
}
.sorted-col{
    position: relative;
    padding-right: 10px;
    color: inherit;
    display: flex;
    align-items: center;
}
.sorted-col:after{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\F0D8\F0D7";
    display: inline-block;
    width: 10px;
    line-height: 7px;
    vertical-align: middle;
    margin-left: 5px;
}
.sorted-col.sorted-asc, .sorted-col.sorted-desc{
    color: #20a8d8;
}
.sorted-col.sorted-asc:after{
    content: "\F0D8";
}
.sorted-col.sorted-desc:after{
    content: "\F0D7";
}
.tox-silver-sink{
    z-index: 1020!important;
}
.badge-status{
    cursor: pointer;
}
.badge-status.--loading{
    cursor: wait;
}
.app-body .main{
    position: relative;
    padding-bottom: 20px;
}
.app-version{
    position: absolute;
    right: 16px;
    bottom: 7px;
}
.paginate-row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.show-rows-form{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.show-rows-form > div{
    flex-shrink: 0;
    margin-right: 10px;
}
@media (max-width: 991.98px){
    .breadcrumb-button-row, .sidebar-lg-show .breadcrumb-button-row{
        padding-left: 0;
    }
    .app-header .navbar-brand{
        left: 50px;
        margin-left: 0;
        min-width: 0;
        padding-left: 20px;
        padding-right: 20px;
    }
}